
/* *{
    background: rgb(9,109,121);
    background: linear-gradient(357deg, rgba(9,109,121,1) 0%, rgba(20,16,32,1) 41%, rgba(0,212,255,1) 500%);
} */

.mp3_player_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e2c2c;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    box-shadow: #2e2c2c 0px 5px 15px;
}

.mp3_player_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}