<nav class="navbar navbar-expand-lg navbar-light search ">
    <!-- <a class="navbar-brand" href="#">Spotify Clone</a> -->
    <div class="collapse navbar-collapse">
      <!-- <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/top10">Top 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/likes">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tracks">Tracks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/playlist">Playlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-music">Add Music</a>
        </li>
      </ul> -->
      <app-search-bar></app-search-bar>
    </div>
  </nav>