<app-navbar></app-navbar>
<div class="home-container row">
  <div class="home-container_side-bar col-md-2">
      <div class="home-container_side-bar-item item" >
          <h5 routerLink="/top10">Top 10</h5>
      </div>
      <div class="home-container_side-bar-item " >
          <h5 routerLink="/likes">Liked Songs</h5>
      </div>
      <div class="home-container_side-bar-item" >
          <h5 routerLink="/tracks">Tracks</h5>
      </div>
      <!-- <div class="home-container_side-bar-item" >
          <h5 routerLink="/playlist">Playlist</h5>
      </div> -->
      <div class="home-container_side-bar-item" >
          <h5 routerLink="/add-music">Add Music</h5>
      </div>
  </div>
  <div class="home-conatiner_playlist-container col-md-10">
      
          <router-outlet></router-outlet>
        
          
  </div>
</div>


