<div class="container">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-4 text-center">
            <button class="btn btn-light btn-lg mt-5">Signup</button>
            <br><br><br>
           
             <hr [style.color] = "'white'">
            <br><br>
            <button class="btn btn-light btn-lg">Login</button>
        </div>
    </div>


    <!-- <div class="row mt-5">
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
            <button class="btn btn-light btn-lg mt-5">Signup</button>
        </div>
   
    
        <div class="col-md-4">
            <button class="btn btn-light btn-lg mt-5">Login</button>
        </div>
    </div> -->
  
</div>